@model ArtistaViewModel;

@{
    ViewBag.Title = "Aggiungi Artista";
}

@if(ViewBag.Message != null)
{
    <div roll="alert" class="alert alert-success">
        @ViewBag.Message
    </div>
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div>Aggiungi Artista</div>
        <hr>
        @Html.HiddenFor(model => model.IdArtista)
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new {@class = "label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome)
            </div>
        </div>
        <hr>
        <div class="form-group">
            @Html.LabelFor(model => model.Cognome, htmlAttributes: new {@class = "label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cognome)
            </div>
        </div>
        <hr>
        <div class="form-group">
            @Html.LabelFor(model => model.Aka, htmlAttributes: new {@class = "label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Aka)
            </div>
        </div>
        <hr>
        <div class="form-group">
            @Html.LabelFor(model => model.Tipo, htmlAttributes: new {@class = "label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tipo)
            </div>
        </div>
        <hr>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Aggiungi" class="btn btn-primary"/>
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Indietro","ArtistaIndex")
</div>