@model IEnumerable<MyMusic.Models.ArtistaViewModel>;
@{
    ViewBag.Title = "ArtistaIndex";
}


    <h1 class="display-4">Lista degli Artisti</h1>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model=>model.Nome)</th>
            <th>@Html.DisplayNameFor(model=>model.Cognome)</th>
            <th>@Html.DisplayNameFor(model=>model.Aka)</th>
            <th>@Html.DisplayNameFor(model=>model.Tipo)</th>
        </tr>
  @if(Model != null && Model.Any())
    {
       foreach(var artista in Model)
        {
            <tr>
                <td>@artista.Nome</td>
                <td>@artista.Cognome</td>
                <td>@artista.Aka</td>
                <td>@artista.Tipo</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { IdArtista=artista.IdArtista}) |
                    @Html.ActionLink("Add", "ArtistaAdd", new { IdArtista=artista.IdArtista}) |
                    @Html.ActionLink("Details", "Details", new { IdArtista=artista.IdArtista})
                </td>
            </tr>
        }
    }
    else
    {
        <td colspan=5 class="text-center"> Nessun artista trovato</td>
    }
</table>
